#target-modal 
{
    min-width: 700px !important;
    min-height:  700px !important; 
} 

#exampleModal {
    min-width: 500px !important;
    min-height:  500px !important; 
}

.apitable {
    overflow: scroll;    
    overflow: auto;
}

td {
    white-space: wrap;
    max-width: 100px;
    height: 100px;
    overflow-y: scroll;    
}

#exampleModal #code{
    line-height: 1.5em;
    height: 6em;
    overflow-y: scroll;
    overflow-wrap: break-word;
    background-color: #D3D3D3;
}

table{
    table-layout:fixed; 
}

#exampleModal .modal-dialog {
 max-width: 900px !important;
}