#target-modal 
{
    min-width: 700px !important;
    min-height:  700px !important; 
} 

#exampleModal .modal-dialog {
    max-width: 900px !important;
   }
   
#exampleModal .modal-content {
    max-width: 900px !important;
    }

#exampleModal .modal-body {
max-width: 900px !important;
}

#exampleModal {
    min-width: 500px !important;
    min-height:  500px !important; 
}

.apitable {
    overflow: scroll;    
    overflow: auto;
}

tr
{
    margin: 2px;
}

td {
    white-space: wrap;
    height: 100px;
    overflow-wrap: break-word;
}

#exampleModal #code{
    line-height: 1.5em;
    height: 6em;
    overflow-y: scroll;
    overflow-wrap: break-word;
    background-color: #D3D3D3;
    width: 300px !important;
}

table{
    table-layout:fixed; 
}